body {
    background-color: rgb(207, 215, 233);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    gap: 3em;
    margin-right: 5em;
    
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5em;

}

.reset-btn,
.change-btn,
.black-btn,
.rainbow-btn,
.erase-btn {    
    background-color: rgba(2, 34, 37, 0.912);
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: solid black 2px;
    width: 6em;
    color: red;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    border: solid black 5px;

}


.cell {
    border: solid black 1px;
    background-color: #faf9f6;
    box-sizing: border-box;
    cursor: crosshair;
}
