body {
    background-color: rgb(207, 215, 233);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    gap: 3vw;
    margin-right: 3em;
    
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-left: 30px;

}

.reset-btn,
.change-btn,
.black-btn,
.rainbow-btn,
.erase-btn {    
    background-color: rgba(2, 34, 37, 0.912);
    padding: 1vw;
    font-size: 0.8rem;
    border-radius: 8px;
    color: red;
}

.btn:hover {
    background-color: aquamarine;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 5px;
    margin-left: 20px;

}


.cell {
    border: solid black 1px;
    background-color: #faf9f6;
    box-sizing: border-box;
    cursor: crosshair;
    
}

@media (max-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
              
    }
    .container {
        margin-left: 30px;
        
    
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        
    }
    .cell {
        min-width: 20px;
        min-height: 20px;
    
    }
}
